<div class="tree" *ngIf="updated">
  <div class="wrapper">
    <svg class="treeLink"
      [style.width]="tree.width + 'px'"
      [style.height]="tree.height + 'px'" >
      <ng-container *ngFor="let node of tree.nDatabaseNodes; let index2 = index;">
     <path
          *ngFor="let path of node._drawChildrenLinks(tree); let i = index"
          [attr.stroke]="node.nodeChildren[i].isSelected ? node.linkColor || null : null "
          [attr.d]="!node._isAncestorCollapsed() ? path : null"
        />
      </ng-container>
    </svg>
    <ng-container *ngFor="let node of tree.nDatabaseNodes; let i = index">
      <div
        *ngIf="!node._isAncestorCollapsed()"
        [ngStyle]="{
          position: 'absolute',
          left: node.XPosition + 'px',
          top: node.YPosition + 'px',
          width: node.w + 'px',
          height: node.h + 'px'
        }"
      >
        <ng-container
          *ngTemplateOutlet="
            template ? template : defaultTemplate;
            context: { $implicit: node }"
        ></ng-container>
      </div>
    </ng-container>
  </div>
</div>
<ng-template #defaultTemplate let-node>
  <div class="item" [ngStyle]="{ 'background-color': node.bc, 'color': node.c, 'cursor': 'pointer' }" (click)="nodeClick({child: node.nodeChildren.length, value: node.data.text})">
    {{ node.data.text }}
  </div>
</ng-template>
